
header {
    /*border: 1px solid darkorange;*/
    height: 120px;
    width: 95%;
    margin-left: 2.7%;
}

.headline {
    border-bottom: 1px solid #ced4da;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

.headline_left {
    /*border: 1px solid blue;*/
    height: 70px;
    width: 20%;
    margin-left: 14px;
}

.headlin_right {
    /*border: 1px solid blue;*/
    height: 70px;
    width: 20%;
}

.login {
    /*border: 1px solid palevioletred;*/
    height: 30px;
}

.headline_date {
    /*order: 1px solid green;*/
    height: 30px;
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 69px;
    margin-left: 202px;
}

.btn-search {
    font-size: 0.7rem;
    margin-left: 5px;
}

.btn-login {

    font-size: 0.7rem;
}

.btn-logout{
    display: none;
     font-size: 0.7rem;
}

.sign_up {
    font-size: 0.7rem;
    margin-left: 141px;
}

/*
.btn-sm {
    font-size: 0.7rem;
}*/

.headline_img {
    margin-left: 5px;
}

.headline_list, .headline_search {
    width: 20px;
}

html.open {
    overflow: hidden;
}

.headline_list {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 26px;
    top: -2px;
    z-index: 1;
    background-image: url("images/noun_Hamburger_1106326.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.close {
    width: 33px;
    height: 33px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url("images/noun_Close_2341808.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#slide_menu {
    width: 150px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -152px;
    z-index: 10;
    border: 1px solid #c9c9c9;
    background-color: white;
    text-align: center;
    transition: All 0.2s ease;
    -webkit-transition: All 0.2s ease;
    -moz-transition: All 0.2s ease;
    -o-transition: All 0.2s ease;
}

#slide_menu.open {
    left: 0px;
}

.page_cover.open {
    display: block;
}

.page_cover {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 4;
    display: none;
}

.headline_search {
    margin-left: 15px;
}

.headline_search2 {
    display: none;
    margin: 0;
}
.headline_search2.active {
    display: block;
}

.form-control.search_form {
    margin-left: 10px;
}

.search_form {
    height: 25px;
    margin-left: 20px;
    width: 67%;
}

.search_form, .btn-search {
    float: left;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    /*border-top: 1px solid rgba(0,0,0,.1);*/
    width: 94.5%;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0px;
}

.headline_font {
    font-family: 'UnifrakturMaguntia', cursive;
    /*border-bottom: 1px solid gray;
    border: 1px solid firebrick;*/
    text-align: center;
    width: 58%;
}

li {
    float: left;
    list-style: none;
}

li, a {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 10px;
}

.selected-menu {
    background: #0d082b;
    color: #ced4da;
    border-radius: 8px 8px 0 0;
}

.selected-menu a:visited {
    color: #ced4da;
}

.topDiv {

    /*border-top: 1px solid gray;*/
    /*margin: 0px 40px 0px 40px;*/
    height: 77px;
    /*border: 1px solid indigo;*/
    width: 95%;
    margin-left: 2.7%;
    border-bottom: 4px double black;

}

.topMenuDiv {
    justify-content: space-around;
}

.topMenu {
    margin: 0;
    padding-bottom: 10px;
    line-height: 35px;
    height: 35px;
    border-bottom: 1px solid black;
    /*border: 1px solid saddlebrown;*/
}

.topTopic {
    display: flex;
    align-items: center;
    width: 338px;
    /*border: 1px solid darkkhaki;*/
    height: 60px;
}

.topImg > img {
    background-image: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.topTopicText {
    display: inline-block;
    padding-left: 10px;
}

.topTopicText > h2 {
    margin: 0px;
    font-size: 7px;
    font-weight: 800;
}

.topTopicText > p {
    margin: 0px;
    font-size: 5px;
    padding-right: 5px;
}

.exchange {
    width: 300px;
    height: 55px;
    margin: 5px;
    display: inline-block;
    /*border: 1px solid black;*/
}

.weather {
    width: 300px;
    height: 55px;
    margin: 5px;
    display: inline-block;
    /*border: 1px solid black;*/
}

.main_div {
    /*border: 1px solid lightgreen;*/
    width: 95%;
    height: 600px;
    margin-left: 2.7%;

}

.main_left {
    /*border: 1px solid yellowgreen;*/
    width: 20%;
    height: 700px;
    padding-top: 15px;
}

.main_left1 {
    /*border: 1px solid cornflowerblue;*/
    height: 350px;
    border-bottom: 1px solid #ced4da;
}

.main_left2 {
    /*border: 1px solid cornflowerblue;*/
    height: 350px;
    padding-top: 13px;
}

.main_center {
    /*border: 1px solid tomato;*/
    width: 60%;
    height: 700px;
    padding: 15px;
}

.main_center1 {
    /*border: 1px solid peru;*/
    height: 460px;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.main_center2 {
    /*border: 1px solid lawngreen;*/
    height: 40%;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
}

.carousel {
    width: 750px;
}

.main_right {
    /*border: 1px solid yellowgreen;*/
    width: 20%;
    height: 700px;
    padding-top: 15px;
}

.main_right1 {
    /*border: 1px solid cornflowerblue;*/
    height: 350px;
    border-bottom: 1px solid #ced4da;
}

.main_right2 {
    /*border: 1px solid cornflowerblue;*/
    height: 350px;
    padding-top: 13px;
}

.headline_ipsum {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    padding-top: 30px;
}

.main_ipsum {
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
}

.form-control {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}

.modal-title {
    font-size: 1.25rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.modal-body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;

}

.weather {
    margin-left: 170px;
    font-family: inherit;
}

.weather-wrap {
    width: 159.5px;
    height: 55px;
    overflow: hidden;
}

.weather-item-wrap {
    padding: 0;
    margin-top: 3px;
}

.weather-CTMP {
    float: left;
    width: 47px;
    font-size: 21px;
}

.weather-item-icon {
    float: left;
    width: 46px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}

.weather-loc {
    font-size: 14px;
    font-weight: 600;
}

.weather-content {
    margin: 0;
}

.weather-HLTmp {
    line-height: 36px;
    margin-top: 0px;
    margin-left: 95px;
    line-height: 36px;
    height: 28px;
}

.LTmp {
    margin-right: 7px;
    font-size: 12px;
    color: dodgerblue;
}

.HTmp {
    font-size: 12px;
    color: #ff4757;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.clock {
    font: 300 25px/1 'Lato', sans-serif;
    color: #777;
    /*background: #eee;*/
    position: absolute;
    top: 24%;
    left: 86%;
    width: 150px;
    margin-top: -42px;
    margin-left: -171px;
    text-align: center;
    overflow: hidden;
}

.clock span {
    position: relative;
    display: inline-block;
    width: 25px;
}

.clock span:nth-child(2),
.clock span:nth-child(4) {
    border-right: 1px solid #aaa;
}

.clock span:before,
.clock span:after {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transition: transform .75s;
}

.clock span:before {
    content: attr(data-old);
    z-index: 1;
    transform: translate3d(0, 0, 0);
}

.clock .flip:before {
    transform: translate3d(0, 102.5%, 0);
}

.clock span:after {
    content: attr(data-now);
    z-index: 2;
    transform: translate3d(0, -102.5%, 0);
}

.clock .flip:after {
    transform: translate3d(0, 0, 0);
}

.card {
    border: none;
}

.main-title-line-h2 {
    /*text-align: center;*/
    margin-bottom: 30px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.carousel-inner {
    left: 15px;
}

.flip-card {
    background-color: transparent;
    width: 268px;
    height: 345px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card-front {
    background-color: white;
    color: black;
}

.flip-card-back > img {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .foot_line {
    height: 50px;
    /* border: 1px solid olive; */
    border-top: 1px solid #ced4da;
    margin-top: 150px;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    margin-left: 53px;
  }

  .w-100 {
    width: 103%!important;
}

.foot_map {
    width: 80%;
    /* border: 1px solid indigo; */
    margin-left: 151px;
    margin-top: 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #6d6d6d;
}
